config/database.php
.idea
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
_ide_helper.php
public/
!public/images/product/*
composer.lock
resources/views/admin-panel/layouts/menus/__admin.blade.php
**/.DS_Store
!public/uploads/img/default.jpg