
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding: 0;
    margin: 185px 0px 215px 0px;
    font-family: "Open Sans", sans-serif;
}
header {
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header .-head-top {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    background: #333;
    color: #fff;
}
header .-head-inf {
    width: 100%;
    height: 90px;
    background: #fff;
    line-height: 90px;
    color: #fff !important;
}
header .-head-nav {
    background: #e8e8e8;
    width: 100%;
    height: 45px;
}
header .-head-inf .-head-logo img.logo {
    max-height: 40px !important;
}
header .-head-top p {
    margin: 0;
    padding: 0;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
section.content {
    width: 100%;
    height: auto;
    padding: 0px 0px;
}
section.content .-product-card {
    border: 1px #E3E3E3 solid;
    overflow: hidden;
    border-radius: 5px;
}
section.content .-product-label {
    width: 100%;
    padding: 5px;
    border-top: #E3E3E3 1px solid;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
section.content .-product-card .-product-img {
    height: 200px;
    padding: 5px;
    line-height: 200px;
    text-align: center;
    margin-bottom: 2px;
}
section.content .-product-card .-product-img img {
    max-height: 200px;
}
footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 215px;
}
#-footer {
    height: 180px;
    background: #f5f5f5;
    padding: 40px 0px;
}
#-footer .-footer-label {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 0px 8px 0px;
    padding: 0;
}
#-footer .-footer-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 13px;
}
#-footer .-footer-list li {
    padding: 2px 0px;
}
#-subfooter {
    background-color: #333;
    width: 100%;
    height: 35px;
    line-height: 34px;
    color: #fff;
    font-size: 11px;
}
.card-block {
    padding: 12p;
}
.card-subtitle {
    margin-top: 0 !important;
    margin-bottom: 0;
    padding-top: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

header .-head-nav ul.nav {
    float: left;
    list-style-type: none;
    height: 44px;
    line-height: 45px;
}

header .-head-nav ul.nav li {
    float: left;
    padding: 0px 0px;
    font-weight: 300;
}

header .-head-nav ul.nav li a {
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header .-head-nav ul.nav .dropdown-menu li {
    width: 100%;
}

.white {
    color: #fff;
}

.white:hover {
    color: #fff;
}

section.bread-crumb {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: none;
    margin-top: 15px;
}

section.bread-crumb .breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #fff !important;
    border-radius: 0px;
}

.product {
    border: 1px #ddd dotted;
    overflow: hidden;
    margin-bottom: 25px;
}

.product .image {
    height: 220px;
    overflow: hidden;
    margin-top: 10px;
}

.product .title h3 {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    overflow: hidden;
    height: 40px;
}

.product .vooraad {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    margin-bottom: 30px;
}

.product .prijs {
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
}

.search-button .fa-search{
    font-size: 18px;
    color: #000 !important;
}

.cart-button .fa-shopping-cart{
    font-size: 18px;
    color: #000 !important;
}

.form-control {
    border: 1px #e8e8e8 solid;
    border-radius: 0px;
}

.dropdown-to-right {
    left: inherit;
    right: 0;
}

.filter-sec {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.filter-sec label {
    text-transform: uppercase;
}

.filter-sec ul {
    margin: 0;
    padding: 0;
}

.block_title {
    color: rgba(255,255,255,0.6);
    margin-bottom: 22px;
}

.list {
    list-style-type: none;
    line-height: normal;
}

h3 {
    font-weight: bold;
    margin: 10px 0px 15px 0px;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
}

select {
    width: 100%;
    border: 1px grey solid;
    height: 28px;
    border-radius: 0px !important;
    margin-bottom: 20px;
}

.table {
    margin-bottom: 0px;
}

a, a:hover {
    color: black;
}

.grey {
    background: #F9F9F9;
    height: 100px;
    position: relative;
}

.grey h6 {
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.test {
    margin-left: 10px;
}

.o-hidden {
    overflow: hidden;
}

.right-border {
    border-right: 1px #D5D4D4 solid;
}

.brands .brand {
    max-width: 200px;
}

.dropdown-menu {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
    margin-right: -1px;
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 14px;
        padding-bottom: 10px !important;
    }
}

.fa-home {
    font-size: 18px;
}

#crouton ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    list-style: none;
}

#crouton li {
    float: left;
    margin: 0 10px;
    width: calc(25% - 20px);
}

#crouton a {
    background: #ddd;
  padding: 11px;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  position: relative;
  width: 100%;
  text-align: center;
}

#crouton li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#crouton li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#crouton li:not(:first-child) > a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;   
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ddd #ddd #ddd transparent;
    left: -1em;
}

#crouton li a.active {
    color: #000;
    font-weight: bold;
}

#crouton li:not(:last-child) > a::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 45px;
    margin-top: 0px;
}

/* Gallery */
.gallery .featured img {
  width: 100%;
}
.gallery .thumbnails {
  padding-top: 3%;
}
.gallery .thumbnails img:nth-child(2) {
  margin-left: 2%;
  margin-right: 2%;
}
.gallery .thumbnails img {
  width: 31%;
  cursor: pointer;
  height: 85px;
}
.gallery .selected-img {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.7);
}




input:active,input:focus,textarea:active,textarea:hover,textarea:focus,button:focus,button:active,button:hover,select:hover,select:focus,select:active{outline:0px!important;}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*# sourceMappingURL=all.css.map */
