html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f6f6f6;
}

.card {
    background: white;
    border: 1px rgba(170, 170, 170, 0.25) solid;
    padding: 10px;
    margin-bottom: 30px;
}

header {
    border-bottom: 1px solid #D5D4D4;
    background: #fff;
}

#header {
    height: 50px;
    background: #fff;
    overflow: hidden;
    line-height: 50px;
}

#header .cart {
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-right: 1px solid #D5D4D4;
    font-size: 20px;
}

#header .usr {
    float: right;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-left: 1px solid #D5D4D4;
    font-size: 20px;
}

#header .logo {
    width: auto;
    float: left;
    margin: 0px 0px 0px 20px;
}

#header .logo img {
    height: 20px;
}

#header ul {
    float: right;
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    margin-right: 45px;
}

#header ul li {
    float: left;
    padding: 0px 13px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}


a {
    color: black;
    transition: 0.15s all ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #A3ABA6;
    text-decoration: none;
}

footer {
    border-top: 1px solid #D5D4D4;
    background-color: #f6f6f6;
    color: #fff;
    padding: 42px 0 66px;
}

.breadcrumb {
    background: none;
    overflow: hidden;
}

.breadcrumb a {
    color: black;
    transition: 0.15s all ease-in-out;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #A3ABA6;
    text-decoration: none;
}

.container-fluid {
    width: 90%;
}

.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
