html, body {
    margin: 0;
    padding: 0px;
    padding-top: 92.5px;
    background: #fff;
    font-family: "Open Sans", sans-serif;
    color: #000;
}

header {
    width: 100%;
    display: block;
    background: #363C3F;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

header .user-menu {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    background: #333;
    color: #fff;
}

header .user-menu p {
    margin-bottom: 0;
    padding: 0;
    color: #fff;
}

header .user-menu a {
    color: #fff;
}

header .head {
    width: 100%;
    height: 90px;
    background: #fff;
    height: auto;
    line-height: 90px;
    color: #fff !important;
}

header .menu {
    background: #e8e8e8;
    color: #fff;
    width: 100%;
    height: 45px;
}

header .user-menu p {
    margin: 0;
    padding: 0;
    color: #fff;
    height: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

header .usr-menu p a {
    color: #fff;
}

header .menu ul.nav {
    float: left;
    list-style-type: none;
    height: 44px;
    line-height: 45px;
}

header .menu ul.nav li {
    float: left;
    padding: 0px 0px;
    font-weight: 300;
}

header .menu ul.nav li a {
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header .menu ul.nav .dropdown-menu li {
    width: 100%;
}

section.bread-crumb {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: none;
    margin-top: 15px;
}

section.bread-crumb .breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #fff !important;
    border-radius: 0px;
}

section.content {
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    background: #fff;
    padding: 45px 0px;
}

section.content .product {
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px #D5D4D4 solid;
    padding: 5px;
}

section.brands {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #f6f6f6;
}

footer {
    background: #f5f5f5;
    width: 100%;
    padding: 30px 0px;
    font-size: 12px;
}

footer h3 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.search-button .fa-search{
    font-size: 18px;
    color: #000 !important;
}

.cart-button .fa-shopping-cart{
    font-size: 18px;
    color: #000 !important;
}

.form-control {
    border: 1px #e8e8e8 solid;
    border-radius: 0px;
}

.dropdown-to-right {
    left: inherit;
    right: 0;
}

.filter-sec {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.filter-sec label {
    text-transform: uppercase;
}

.filter-sec ul {
    margin: 0;
    padding: 0;
}

.block_title {
    color: rgba(255,255,255,0.6);
    margin-bottom: 22px;
}

.list {
    list-style-type: none;
    line-height: normal;
}

h3 {
    font-weight: bold;
    margin: 10px 0px 15px 0px;
    padding: 0;
    font-size: 14px;
    text-transform: uppercase;
}

select {
    width: 100%;
    border: 1px grey solid;
    height: 28px;
    border-radius: 0px !important;
    margin-bottom: 20px;
}

.table {
    margin-bottom: 0px;
}

a, a:hover {
    color: black;
}

.grey {
    background: #F9F9F9;
    height: 100px;
    position: relative;
}

.grey h6 {
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.test {
    margin-left: 10px;
}

.o-hidden {
    overflow: hidden;
}

.right-border {
    border-right: 1px #D5D4D4 solid;
}

.brands .brand {
    max-width: 200px;
}

.dropdown-menu {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
    margin-right: -1px;
}

.mediaverse {
    height: 28px;
    line-height: 28px;
    width: 100%;
    background: #333;
    color: #fff;
    font-size: 11px;
    text-align: right;
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 14px;
        padding-bottom: 10px !important;
    }
}

.fa-home {
    font-size: 18px;
}

h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 45px;
    margin-top: 0px;
}

input:active,input:focus,textarea:active,textarea:hover,textarea:focus,button:focus,button:active,button:hover,select:hover,select:focus,select:active{outline:0px!important;}