html, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f8f9fa;
}

.card {
    background: white;
    border: 1px #D5D4D4 solid;
    padding: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}

header {
    border-bottom: 1px solid #D5D4D4;
    background: #fff;
}

#header {
    height: 70px;
    background: #fff;
    overflow: hidden;
    line-height: 70px;
}

#header .cart {
    float: left;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-right: 1px solid #D5D4D4;
    border-left: 1px solid #D5D4D4;
    font-size: 20px;
}

#header .usr {
    float: right;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-left: 1px solid #D5D4D4;
    border-right: 1px solid #D5D4D4;
    font-size: 20px;
}

#header .srch {
    float: right;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-left: 1px solid #D5D4D4;
    font-size: 20px;
}


#header .logo {
    width: auto;
    float: left;
    margin: 0px 0px 0px 20px;
}

#header .logo img {
    height: 30px;
}

#header ul {
    float: right;
    list-style-type: none;
    height: 70px;
    line-height: 70px;
    margin-right: 45px;
}

#header ul li {
    float: left;
    padding: 0px 13px;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}


a {
    color: black;
    transition: 0.15s all ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #A3ABA6;
    text-decoration: none;
}

section.content {
    border-top: 1px solid #D5D4D4;
    background: #fff;
    padding: 42px 0 66px;
}

footer {
    padding-top: 53px;
    padding-bottom: 40px;
    border-top: 1px solid #D5D4D4;
    position: sticky;
    background-color: #363C3F;
}

.list-group {
    padding-left: initial;
    margin: 0px;
}

.list-group li {
    color: #1d1d1b;
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    list-style: none outside none;
    padding: 0 10px;
    text-decoration: none;
}

.list-group li a {
    font-weight: bold;
    float: left;
    font-size: 11px;
    color: white;
    text-transform: uppercase;
}

.container.padding {
    margin-top: 20px;
}

.breadcrumb {
    background: none;
    overflow: hidden;
}

.breadcrumb a {
    color: black;
    transition: 0.15s all ease-in-out;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #A3ABA6;
    text-decoration: none;
}

.container-fluid {
    width: 90%;
}

.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
